# --- SYSTEM & LOGS ---
.DS_Store
Thumbs.db
*.log
firebase-debug.log
.firebase/

# --- ABHÄNGIGKEITEN (Müll) ---
node_modules/
functions/node_modules/

# --- GEHEIMNISSE (WICHTIG!) ---
# Das hier darf auf keinen Fall auf GitHub landen:
serviceAccountKey.json
index.js
.env

# --- WHATSAPP SITZUNG ---
# Das hier speichert deinen Login. Nicht hochladen, 
# sonst loggt sich der Server ständig aus/ein.
.wwebjs_auth/
.wwebjs_cache/

# --- ABHÄNGIGKEITEN (Konfliktvermeidung) ---
package-lock.json
